---
layout: ingredient
---



{% assign paths = page.url | split: '/' %}
{% assign this_version = paths[2] %}
<!DOCTYPE html>
<html>
	<head>
		{% include head.html %}
		<meta name="robots" content="index, follow">
		<script src="https://rebilly.github.io/ReDoc/releases/v1.19.1/redoc.min.js"> </script>
	</head>
	<body>
		{% include header.html %}
		<div class="apidoc inner__content fixed-content">
			<div class="container main">
				<div>
					<select id="links_container" class="pull-right"></select>
				</div>
				<hr />
				<redoc suppress-warnings></redoc>
				
				<script>
				
				var apis = [
					{
					  name: 'Announcement API(s)',
					  alias: 'announcement',
					},
					{
					  name: 'Assessment Item API(s)',
					  alias: 'assessmentapi'
					},
					{
					  name: 'Audience API(s)',
					  alias: 'audience'
					},
					{
					  name: 'Badge API(s)',
					  alias: 'badges'
					},
					{
					  name: 'Bulk Upload Service API(s)',
					  alias: 'bulkserviceapi'
					},
					{
					  name: 'Content API(s)',
					  alias: 'contentapi'
					},
					{
					  name: 'Course Batch Management API(s)',
					  alias: 'coursebatchmanapi'
					},
					{
					  name: 'Data Sync API(s)',
					  alias: 'datasyncapi'
					},
					{
					  name: 'DIAL API(s)',
					  alias: 'dialapi'
					},
					{
					  name: 'Firebase Cloud Messaging API(s)',
					  alias: 'firebasecloudmessaging'
					},
					{
					  name: 'Framework API(s)',
					  alias: 'framework'
					},
					{
					  name: 'Geo-location API(s)',
					  alias: 'geolocation'
					},
					{
					  name: 'Master Key API(s)',
					  alias: 'masterkey'
					},
					{
					  name: 'Metrics API(s)',
					  alias: 'metricsapi'
					},
					{
					  name: 'Notes API(s)',
					  alias: 'noteapi'
					},
					{
					  name: 'Notification (Email) API(s)',
					  alias: 'notificationapi'
					},
					{
					  name: 'Object API(s)',
					  alias: 'objectapi'
					},
					{
					  name: 'Org. API(s)',
					  alias: 'orgapi'
					},
					{
					  name: 'Page API(s)',
					  alias: 'pagesapi'
					},
					{
					  name: 'User Management  API(s)',
					  alias: 'userapi'
					}
				];
				
				
				// Get URL GET Params function
				function getParameterByName(name, url) {
					if (!url) url = window.location.href;
					name = name.replace(/[\[\]]/g, "\\$&");
					var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
						results = regex.exec(url);
					if (!results) return null;
					if (!results[2]) return '';
					return decodeURIComponent(results[2].replace(/\+/g, " "));
				}
				// Get URL GET Param api
				var apiparam = getParameterByName('api');
				
				// filter api from array and get its url
				/*function filterItems() {
				  var filteredurl = apis.filter(function(el) {
					  return el.alias == apiparam ;
				  });
				  return filteredurl[0].url;
				}
				var filteredapi = filterItems();*/
				
				var yamlurl = baseURL.href+'docs/{{this_version}}/apis/yaml/'+apiparam+'.yaml';
				
				// initially render first API
				Redoc.init(yamlurl);
				
				function onClick() {
					var url = this.getAttribute('value');
					Redoc.init(url);
				 }
				 
				// dynamically building Dropdown items
				var $list = document.getElementById('links_container');
				apis.forEach(function(api) {
					var $listitem = document.createElement('option');
					$listitem.setAttribute('value', baseURL.href+'docs/{{this_version}}/apis/yaml/'+api.alias+'.yaml');
					$listitem.innerText = api.name;
					$list.appendChild($listitem);
				});
				  
				$(function(){
					$('#links_container').on('change', function () {
						var url = $(this).val(); // get selected value
						if (url) { // require a URL
							Redoc.init(url);
						}
						return false;
					});
				});
				
			</script>
				
			</div>
		</div>
		{% include footer.html %}
	</body>
</html>
